{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="content content-nav-base information-content">
    <div class="main-nav">
      <div class="inner-cont0">
        <div class="inner-cont1 w1200">
          <div class="inner-cont2">
            <a href="{% url 'index' %}" class="active">首页</a>
			<a href="{% url 'commondity' %}" >所有商品</a>
			<a href="{% url 'shoppercart' %}" >购物车</a>
            <a href="{% url 'shopper' %}">个人中心</a>
          </div>
        </div>
      </div>
    </div>
    <div class="info-list-box">
      <div class="info-list">
        <div class="item-box layui-clear" id="list-cont">
          <div class="item">
            <div class="img">
              <img src="{% static 'img/portrait.png' %}" alt="">
            </div>
            <div class="text">
              <h4>{{ user.username}}</h4>
              <p class="data">登录时间：{% now "Y-m-d" %}</p>
			  <div class="left-nav">
				  <div class="title">
					<a>我的购物车</a>
				  </div>
				  <div class="title">
					<a>我的优惠卷</a>
				  </div>
				  <div class="title">
					<a>收货地址</a>
				  </div>
				  <div class="title">
					<a href="{% url 'logout' %}">注销账号</a>
				  </div>
			  </div>
            </div>
          </div>
<div class="item1">
        
		<div class="cart">
      <div class="cart-table-th">

        <div class="th th-item">
          <div class="th-inner">
            订单编号
          </div>
        </div>
        <div class="th th-price">
          <div class="th-inner">
            订单价格
          </div>
        </div>
        <div class="th th-amount">
          <div class="th-inner">
            购买时间
          </div>
        </div>
        <div class="th th-sum">
          <div class="th-inner">
            订单状态
          </div>
        </div>
      </div>
      <div class="OrderList">
        <div class="order-content" id="list-cont">
            {% for p in paginator %}
          <ul class="item-content layui-clear">
            <li class="th th-item">
				{{ p.id }}
            </li>
            <li class="th th-price">
				{{ p.price|floatformat:'2' }}
            </li>
			<li class="th th-amount">
				{{ p.created }}
            </li>
			<li class="th th-sum">
				{{ p.state }}
            </li>
          </ul>
            {% endfor %}
        </div>
      </div>

    </div>
</div>
		</div>
        </div>
        <div id="demo0" style="text-align: center;"></div>
      </div>
    </div>

<script>
  layui.config({
    base: '{% static 'js/' %}'
  }).use(['mm','laypage'],function(){
      var
      mm = layui.mm,laypage = layui.laypage;
      laypage.render({
        elem: 'demo0'
        ,count: 100
      }); 
});

</script>
{% endblock %}